# C#
*.suo
*.user
.idea/
.vs/

/src/ChronoRover/bin/
/src/ChronoRover/obj/
/src/ChronoRover.Android/bin/
/src/ChronoRover.Android/obj/
/src/ChronoRover.Desktop/bin/
/src/ChronoRover.Desktop/obj/
/src/ChronoRover.Tests/bin/
/src/ChronoRover.Tests/obj/

# Additional
/binaries/
